<template>
	<div class="admin-panel">
		<h2 class="admin-title">Admin Panel</h2>

		<div class="alert alert-info" v-show="!auth">
			Not logged in
		</div>

		<div class="alert alert-info" v-show="!gameStatus">
			Game not started
		</div>

		<div v-if="auth">
			<div class="panel">
				<div class="panel-title">
					<h3>Auth</h3>
					<div class="panel-tools">
						<i class="fa fa-plus" @click.prevent="togglePanel('authPanel')"></i>
					</div>
				</div>
				<div class="panel-content" id="authPanel">
					<p>Logged in</p>
					<ul>
						<li>Username: {{ user.name }}</li>
						<li>Points: {{ user.points }}</li>
					</ul>
				</div>
			</div>
		</div>

		<div v-if="gameStatus">
			<div class="panel">
				<div class="panel-title">
					<h3>Goals</h3>
					<div class="panel-tools">
						<i class="fa fa-plus" @click.prevent="togglePanel('goalsPanel')"></i>
					</div>
				</div>
				<div class="panel-content" id="goalsPanel">
					<ul class="scenario-objectives">
						<li v-for="g in gameGoals" :class="{ 'invalid': g.invalid, 'solved': g.solved, 'active': g.active, 'child': g.parent }">
							{{ g.name }}
							<span class="icon completed" v-show="g.solved"><i class="fa fa-check"></i></span>
							<span class="icon active" v-show="g.active"><i class="fa fa-star"></i></span>
							<span class="icon invalid-icon" v-show="g.invalid"><i class="fa fa-cross"></i></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>

<style>

.admin-panel {
	background: black;
	color: white;
	padding: 10px;
}
.admin-panel .admin-title {
	margin: 0 0 20px 0;
	padding: 5px 0;
}
.admin-panel .panel-title {
	position: relative;
}
.admin-panel .panel-title h3 {
	margin: 0;
	padding: 0;
	height: 36px;
	line-height: 36px;
}
.admin-panel .panel {
	padding: 5px;
	border: 1px solid white;
}
.admin-panel .panel .panel-title {
	border-bottom: 1px solid white;
}
.admin-panel .panel-title .panel-tools {
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 25px;
	transition: 0.3s all;
}
.admin-panel .panel-title .panel-tools:hover {
	transform: scale(1.1);
}
</style>

<script>
	export default {
		data() {
			return {
				gameGoals: [],
				gameStatus: false,

				auth: false,
				user: {}
			}
		},
		methods: {
			updateGame: function() {
				this.gameGoals = window.Thesis.Game.goals;
				this.gameStatus = window.Thesis.Game.status;
			},
			updateAuth: function() {
				if (window.Thesis.User.check()) {
					this.auth = true;
					this.user.points = window.Thesis.User.points;
					this.user.name = window.Thesis.User.username;
				} else {
					this.auth = false;
				}
			},
			togglePanel: function(panelId) {
				$(`#${panelId}`).slideToggle();
			}
		},
		mounted() {
			window.Thesis.Game.subscribe('statusChanged', this.updateGame);
			window.Thesis.Game.subscribe('gameGoalsChanged', this.updateGame);
			window.Thesis.User.subscribe('authChanged', this.updateAuth);
		}
	}
</script>