<template>
	<div class="game-container">
		<div class="alert alert-danger alert-game" v-show="error">
			{{ error_message }}
		</div>

		<div class="arena tutor-arena" id="game-arena">
			<div class="step-score">
				{{ tutor_status.score.step }}
			</div>

			<div class="messages">
				<div id="message-list" class="message-container">
					<div v-for="message in messages" :class="{ 'system-message': message.owner == 'system', 'user-message': message.owner == 'user' }">
						<div class="message" v-html="message.content"></div>
					</div>
				</div>

				<div class="dictionary-box animated bounceIn" v-if="tutor_status.dict.show">
					<div class="dict-title">{{ tutor_status.dict.active_definition.value }} <span class="dict-type">{{ tutor_status.dict.active_definition.type }}</span></div>
					<div class="dict-definition">
						<span class="dict-definition-body">{{ tutor_status.dict.active_definition.definition }}</span>
						<div class="examples" v-if="tutor_status.dict.active_definition.examples.length > 0">
							"{{ tutor_status.dict.active_definition.examples[0] }}"
						</div>
					</div>
					<button class="btn btn-sm btn-danger" @click="discardDefinition">Ya lo se</button>
					<button class="btn btn-sm btn-primary" @click="closeDictionary">Cerrar</button>
				</div>

				<div class="spelling-error" v-show="tutor_status.spell.has_errors">{{ tutor_status.spell.error_message }}</div>

				<div class="status-message" v-show="display_status">El bot esta escribiendo... <i class="fa fa-load fa-spin"></i></div>
			</div>
			<div class="commander">
				<div class="input">
					<input type="text" id="game-user-input" v-model="utterance" v-on:keyup="handleKeyUp" :disabled="!speak_enabled">
				</div>
				<div class="toolbar">
					<button class="btn btn-help" @click="triggerHelp()" :disabled="!speak_enabled"><i class="fa fa-question"></i></button>
					<button class="btn btn-send btn-primary" @click="speak()" :disabled="!speak_enabled || utterance==''"><i class="fa fa-paper-plane"></i></button>
				</div>
			</div>

			<div id="tutor-suggestions">
				<tutor-suggestions
						:suggestions="suggestions"
						:input="utterance"
						@select="tutorSuggestionSelect"
						@cancel="tutorSuggestionCancel"
						@inputUpdate="tutorSuggestionInputChange">
				</tutor-suggestions>
			</div>
		</div>
	</div>
</template>

<script>
	import io from 'socket.io-client'
	import Tutor from '../services/Tutor'
	import Vue from 'vue';
	import TutorSuggestions from './TutorSuggestions'

	export default {
		props: ['scenario', 'variation'],
		data() {
			return {
				tutor_status: {
				    score: {
				        total: 0,
						step: 0
					},
					spell: {
						has_errors: false,
						error_message: '',
						reset: () => {
							this.tutor_status.spell.has_errors = false;
						}
					},
					dict: {
					    set: {},
					    show: false,
						active_definition: null,
					}
				},

				messages: [],
				utterance: '',
				turn: 'system',
				speak_enabled: false,
				bot_instance: null,
				socket: null,

				audio: {},
				display_status: false,
				error: false,
				error_type: false,
				error_message: '',

				// tutor suggestions
				tutor: null,
				tutor_busy: false,
				suggestions: []
			}
		},
		methods: {
		    // TUTOR: SCORE
            updateScore: function(score_update) {

				console.log(score_update);
			},
			// TUTOR: DICTIONARY
            handleDictionaryRequest: function(e) {
                let $target = $(e.target);
                let index = $target.data('index');

                if (index && this.tutor_status.dict.set[index]) {
                    this.tutor.setDictionaryActiveItem(this.tutor_status.dict.set[index]);
                    this.socket.emit('user.tutor.score-event', 3);
				}
			},
			discardDefinition: function() {
			    this.tutor_status.dict.active_definition.discard = true;
			    this.tutor_status.dict.show = false;
			},
			closeDictionary: function() {
			    this.tutor.closeDictionary();
			},
            /**
			 * Values get added to the dictinary only if they haven't been discarded by the user already
             * @param dictionary
             */
            addToTutorDictionary: function(dictionary) {
			    _.each(dictionary, dictionary_entry => {
			        let index = dictionary_entry.index;
			        if (! _.get(this.tutor_status.dict.set, index)) {
						if (! _.get(this.tutor_status.dict.set, index + '.discard')) {
							this.tutor_status.dict.set[index] = dictionary_entry;
						}
					}
				});
			},
            /**
			 * Gets the last message (should be from system's..) and replaces the words that are available in the dict
			 * with convenient markup
			 *
             * @returns {string} the updated Utterance with markup
             */
            applyTutorDictionary: function() {
                let lastMessage = this.messages.pop();
                this.addSystemMessage(this.tutor.applyDictionaryMarkup(lastMessage.content, this.tutor_status.dict.set));
			},

			// TUTOR: SPELL CHECK RESULTS
			spellResults: function(results) {
				if (results != false) {
					this.addUserMessage(this.spellResultsFormat(results));
					this.tutor_status.spell.has_errors = true;
					this.tutor_status.spell.error_message = this.tutor.bakeSpellErrors(results);
                    this.socket.emit('user.tutor.score-event', 2);
				}
			},
			spellResultsFormat: function(results) {
				let lastMessage = this.messages.pop();
				return this.tutor.applySpellErrors(results, lastMessage.content);
			},

			// TUTOR: SUGGESTIONS
			tutorSuggestionInputChange: function(data) {
				this.utterance = data;
			},
			tutorSuggestionSelect: function(suggestion) {
				$('#tutor-suggestions').removeClass('opened');
				this.utterance = suggestion;
			},
			tutorSuggestionCancel: function() {
				$('#tutor-suggestions').removeClass('opened');
			},
			suggest: function(data) {
            	this.tutor_busy = false;
				this.suggestions = data;
				$('#tutor-suggestions').addClass('opened');
                this.socket.emit('user.tutor.score-event', 1);
			},
			getSuggestions: function() {
            	this.tutor_busy = true;
				this.socket.emit('user.tutor.get-suggestions', this.utterance);
			},
			handleKeyUp: function(e) {
				if (e.keyCode == 13) {
					this.speak();
					return;
				}

				if ((e.keyCode <= 48 || e.keyCode >= 90) && e.keyCode != 32) {
					return;
				}
			},
			triggerHelp: function() {
            	if (this.tutor_busy) {
            		return;
				}

				this.getSuggestions();
			},
			speak: function() {
                this.tutor.closeDictionary();

                if (this.utterance.length > 0 ) {
					this.addUserMessage(this.utterance);

					setTimeout(this.scrollChat, 500);

					this.speak_enabled = false;
					this.tutor_status.spell.reset();

					this.socket.emit('user.tutor.spell-check', this.utterance);

					this.socket.once('chatterbot.tutor.spell-check-results', spell_results => {
						if (spell_results === false || spell_results.length == 0) {
							this.socket.emit('user.utterance', JSON.stringify({ utterance: this.utterance }));
							this.utterance = '';
							this.display_status = true;
						} else {
							this.speak_enabled = true;
							this.spellResults(spell_results);
						}
					});
				}
			},
			clearErrors: function() {
				this.error = false;
				this.error_type = '';
				this.error_message = '';
			},
			showSocketError: function() {
				this.error = true;
				this.error_type = 'socket';
				this.error_message = 'Ocurrió un problema con la conexión con el servidor!';
			},
			onSystemMessageReceived: function(u) {
				this.audio.message_received.play();

                this.applyTutorDictionary();
			},
			addUserMessage: function(utterance) {
				this.messages.push({ content: utterance, owner: 'user' });
				Vue.nextTick(() => {
					this.$message_list
						.find('.message')
						.last()
						.find('.spell-error').each(function() {
							new Tooltip($(this), {
								placement: 'top',
								trigger: 'click hover focus',
								title: $(this).data('title')
							});
						});
				});
			},
			addSystemMessage: function(utterance, dictionary) {
				this.messages.push({ content: utterance, owner: 'system' });
			},
			scrollChat: function() {
				if (this.$message_list.length) {
					let height = this.$message_list.parent()[0].scrollHeight;
					this.$message_list.parent().animate({ scrollTop: height + 120 + "px" });
				}
			},
			connect: function() {
				this.socket = io(
					window.Thesis.Config.botRemote,
					{ forceNew: true }
				);

				this.socket.on('connect_error', () => {
					this.showSocketError();
				});

				this.socket.on('error', () => {
					this.showSocketError();
				});

				this.socket.on('connect', () => {
					this.clearErrors();

					console.log('[ChatbotCli] socket connected');

					this.socket.emit('chatterbot.handshake', {
						scenario: this.scenario.id,
						variation: this.variation
					});

				});

				this.socket.on('chatterbot.inited', () => {
					window.Thesis.Game.startGame();
				});

				this.socket.on('chatterbot.speak', (e) => {
					this.display_status = false;
					this.addSystemMessage(e.utterance);
					this.addToTutorDictionary(e.dictionary);
					this.onSystemMessageReceived(e.utterance);

					setTimeout(this.scrollChat, 500);
				});

				this.socket.on('chatterbot.report', (data) => {
					console.debug(data);

					this.tutor_status.score.total = data.score;
					this.tutor_status.score.step = data.stepScore;

					window.Thesis.Game.setInstructions(data.restrictions);
					window.Thesis.Game.setGoals(data.goals);
				});

				this.socket.on('chatterbot.switch_turn', (turn) => {
					this.switchTurn(turn);
					// TODO: complete this
					setTimeout(() => {
						$("#game-user-input").focus();
					});
				});

				this.socket.on('chatterbot.tutor.suggest', this.suggest);
				this.socket.on('chatterbot.score.update', this.updateScore);

				this.socket.on('disconnect', () => {
					window.Thesis.Game.endGame();
				});
			},
			switchTurn: function(turn) {
				if (turn == 'USER') {
					this.speak_enabled = true;
				}
			},
			uiSetup: function() {
				let window_height = $(window).height() - 40;
				let $game_arena = $('#game-arena');
				$game_arena.outerHeight(window_height + 'px');
				$game_arena.find('.messages').outerHeight((window_height - 36) + 'px');

				this.$message_list = $('#message-list');

				this.audio.message_received = new Audio('/static/sounds/lip.mp3');

				this.$message_list.on('click', this.handleDictionaryRequest);
			}
		},
		mounted() {
			if (!this.scenario) {
				this.$router.push({ name: 'ScenarioSelector' });
				return;
			}

			this.tutor = new Tutor();
			this.tutor._dictionary = this.tutor_status.dict;

			this.uiSetup();
			this.connect();
		},
		components: {
			'tutor-suggestions': TutorSuggestions,
		}
	}
</script>

<style>
	#tutor-suggestions.opened {
		transform: translateY(-620px);
		border-top: 4px solid #007bff;
	}
	#tutor-suggestions {
		position: absolute;
		bottom: -620px;
		height: 620px;
		background: white;
		width: 100%;
		transform: translateY(0);
		transition: transform 0.9s cubic-bezier(0.14, 0.6, 0.12, 0.97);
	}
	.game-container {
		position: relative;
	}
	.alert-game {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999;
	}
	.arena {
		overflow: hidden;
	}
	.arena .messages {
		background: url(../assets/symphony.png);
		padding: 20px 10px 0 10px;
		overflow: scroll;
		padding-bottom: 40px;
	}
	.messages .status-message {
		font-style: italic;
		font-size: 13px;
		position: absolute;
	}
	.messages .message {
		color: #222;
		display: inline-block;
		padding: 10px;
		max-width: 70%;
		min-width: 50px;
		position: relative;
		border-radius: .4em;
		margin-bottom: 15px;
	}
	.messages .system-message {
		margin-left: 10px;
	}
	.messages .user-message {
		margin-right: 10px;
		text-align: right;
	}
	.messages .message .dict-entry {
		font-weight: bold;
	}
	.messages .system-message .message {
		box-shadow: 1px 1px 4px -3px black;
		background: #ffffff;
	}
	.messages .user-message .message {
		box-shadow: -1px 1px 4px -3px black;
		background: #e2ffc6;
	}
	.messages .user-message .message:after {
		right: 0;
		border-left-color: #e2ffc6;
		border-right: 0;
		margin-right: -17px
	}
	.messages .system-message .message:after {
		left: 0;
		border-right-color: #ffffff;
		border-left: 0;
		margin-left: -17px
	}
	.messages .message:after {
		border: 18px solid transparent;
		border-top: 0;
		content: '';
		position: absolute;
		top: 50%;
		width: 0;
		height: 0;
		margin-top: -12.5px;
	}
	.arena {
		position: relative;
	}
	.arena .commander {
		position: fixed;
		bottom: 0;
		width: 100%;
	}
	.arena .commander .toolbar,
	.arena .commander .input {
		float: left;
	}
	.arena .commander .toolbar {
		width: 25%;
	}
	.arena .commander .toolbar .btn-help,
	.arena .commander .toolbar .btn-send {
		width: 50%;
		float: left;
		height: 36px;
		border-radius: 0;
		padding: 0;
	}
	.arena .commander .input {
		width: 75%;
	}
	.arena .commander .input .btn:active,
	.arena .commander .input input:focus {
		outline: none;
	}
	.arena .commander .input input {
		border: 1px solid #eee;
		width: 100%;
		background: white;
		height: 36px;
		font-size: 17px;
	}
</style>

