<template>
	<div class="scenario-launcher" v-if="scenario">
		<div class="scenario-generator" v-show="generating">
			<div class="inner">
				<div class="message">El escenario esta siendo generado...</div>
				<i class="spinner fa fa-refresh fa-spin"></i>
			</div>
		</div>
		<div class="scenario-options" v-show="loaded">
			<div class="scenario scenario-single">
				<div class="portrait">
					<img :src="getScenarioPortrait()" alt="">
				</div>
				<div class="title">{{ scenario.name }}</div>
				<div class="description">{{ scenario.extended_description }}</div>

				<div class="objectives">
					<h3>Objetivos</h3>
					<ul class="objective-list">
						<li v-for="obj in selected_objectives">{{ obj }}</li>
					</ul>
				</div>

				<div class="characters">
					<h3>Personajes</h3>

					<div class="character-list">
						<div class="character" v-for="character in scenario.characters">
							<div class="portrait">
								<img :src="getCharacterPortrait(character)" alt="">
							</div>
							<div class="character-details">
								<div class="name">{{ character.name }}</div>
								<div class="occupation">{{ character.occupation }}</div>
							</div>
						</div>
					</div>
				</div>

				<div class="toolbar">
					<button class="btn btn-lg btn-primary" @click="start()">Comenzar!</button>
				</div>
			</div>
		</div>
	</div>
</template>

<style>
	.scenario-options {
		padding: 12px;
	}
	.scenario-options .toolbar {
		text-align: center;
		padding: 15px 0;
	}
	.scenario-generator {
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,0.7);
		top: 0;
		left: 0;
	}
	.scenario-generator .spinner {
		font-size: 40px;
	}
	.scenario-generator .message {
		font-size: 18px;
		color: black;
		margin-bottom: 25px;
	}
	.scenario-generator .inner {
		text-align: center;
		width: 300px;
		position: absolute;
		top: 30%;
		left: 50%;
		margin-left: -150px;
	}
</style>

<script>
	export default {
		props: ['scenario'],
		data() {
			return {
				loaded: false,
				generating: false,
				variation_id: '',
				selected_objectives: []
			}
		},
		methods: {
			getCharacterPortrait: function(character) {
				return `/static/${character.images.portrait.path}`;
			},
			getScenarioPortrait: function() {
				return `/static/${this.scenario.images.portrait.path}`;
			},
			start: function() {
				this.$router.push({
						name: 'Arena',
						params: {
							variation: this.variation_id,
							scenario: this.scenario
						}
					});
			},
			generate: function() {
				this.loaded = false;
				this.generating = true;

				this.variation_id = _.random(0, this.scenario.objectives.length - 1);
				this.selected_objectives = this.scenario.objectives[this.variation_id];

				setTimeout(() => {
					this.generating = false;
					this.loaded = true;
				}, 1500);
			}
		},
		mounted() {
			if (!this.scenario) {
				this.$router.push({ name: 'ScenarioSelector' });
				return;
			}
			this.generate();
		}
	}
</script>