<template>
	<div class="scenario-selector">
		<div class="scenario scenario-archive" v-for="scenario in scenarios">
			<div class="portrait">
				<img :src="getScenarioPortrait(scenario)" alt="">
			</div>
			<div class="title">{{ scenario.name }}</div>
			<div class="description">{{ scenario.description }}</div>

			<div class="characters">
				<h3>Personajes</h3>

				<div class="character-list">
					<div class="character" v-for="character in scenario.characters">
						<div class="portrait">
							<img :src="getCharacterPortrait(character)" alt="">
						</div>
						<div class="character-details">
							<div class="name">{{ character.name }}</div>
							<div class="occupation">{{ character.occupation }}</div>
						</div>
					</div>
				</div>
			</div>

			<div class="toolbar">
				<button class="btn btn-lg btn-primary" :disabled="scenario.disabled" @click="selectScenario(scenario)">Jugar!</button>
			</div>
		</div>
	</div>
</template>

<style>
	.scenario-selector .toolbar {
		text-align: center;
		padding: 15px 0;
	}
	.scenario-selector {
		padding: 20px;
	}
</style>

<script>
	import scenarioDatabase from '@/db/scenarios.db'

	export default {
		data() {
			return {
				scenarios: []
			}
		},
		methods: {
			selectScenario: function(scenario) {
				this.$router.push({ name: 'ScenarioLauncher', params: { 'scenario': scenario } });
			},
			getCharacterPortrait: function(character) {
				return `/static/${character.images.portrait.path}`;
			},
			getScenarioPortrait: function(scenario) {
				return `/static/${scenario.images.portrait.path}`;
			}
		},
		mounted() {
			this.scenarios = scenarioDatabase;
		}
	}
</script>