<template>
	<div class="start-screen">
		<img class="animated tada landing-image" src="../assets/cover-chatbot.jpg" alt="">
		<div class="inner">
			<h2>Hola!</h2>
			<p>Ingrese su nombre para comenzar</p>
			<div class="name-input">
				<input class="form-control" type="text" v-model="username" v-on:keyup.13="start()">
			</div>
			<div class="toolbar">
				<button class="btn btn-lg btn-primary" @click="start()">Comenzar!</button>
			</div>
		</div>

		<div class="footer">
			<button class="btn btn-sm btn-info" @click="launchInstructions">Instrucciones</button>
		</div>
	</div>
</template>

<style>
	.start-screen {
		padding: 20px 0;
	}
	.start-screen .name-input input {
		border: 1px solid #CCC;
		height: 32px;
		width: 80%;
		margin: 10px 0;
		font-size: 24px;
		padding: 0 5px;
	}
	.start-screen .landing-image {
		width: 80%;
		margin: 20px auto;
		display: block;
		-webkit-animation-delay: 2s;
	}
	.start-screen .inner {
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	.start-screen .footer {
		text-align: center;
		margin-top: 30px;
	}
</style>

<script>
	export default {
		methods: {
			start: function() {
				let user = {
					username: this.username,
					points: 0
				};
				window.Thesis.User.login(user);

				this.$router.push({ name: 'ScenarioSelector' });
			},
            launchInstructions: function() {
				this.$router.push({ name: 'HelpScreen' });
			}
		},
		data() {
			return {
				username: ''
			}
		}
	}
</script>