<template>
	<div class="tutor-suggestions">
		<h3>Need some help?</h3>

		<div class="input-container">
			<div class="user-input">
				<input type="text" v-model="local_input" @keyup="onInputChange">
			</div>
			<button class="btn btn-primary" @click="cancel">Cancel</button>
		</div>
		<div class="suggestions-container" v-if="hasSuggestions">
			<h4>Matching suggestions</h4>
			<div class="suggestion-list" v-show="suggestions.matching.length > 0">
				<div class="suggestion" v-for="suggestion in suggestions.matching" @click="selectSuggestion(suggestion)">
					{{ suggestion }}
				</div>
			</div>
			<div class="alert alert-info" v-show="suggestions.matching.length == 0">
				No matching suggestions for your input
			</div>

			<div v-show="suggestions.top.length > 0">
				<hr>
				<h4>Top suggestions</h4>
				<div class="suggestion-list">
					<div class="suggestion" v-for="suggestion in suggestions.top" @click="selectSuggestion(suggestion)">
						{{ suggestion }}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<style>
	.tutor-suggestions {
		background: white;
		padding: 10px;
	}
	.tutor-suggestions h3 {
		font-size: 22px;
		color: #333;
		margin: 10px 0 25px 0;
		padding: 0;
	}
	.suggestions-container {  }
	.tutor-suggestions .input-container {
		overflow: hidden;
		margin-bottom: 35px;
	}
	.tutor-suggestions .input-container .btn {
		float: left;
		margin-left: 2%;
		width: 22%;
		line-height: 18px;
		height: 36px;
	}
	.tutor-suggestions .input-container .user-input input {
		width: 75%;
		height: 36px;
		border: 1px solid #888;
		padding: 2px 10px;
		font-size: 12px;
		float: left;
	}
	.suggestion-list .suggestion {
		font-size: 17px;
		padding: 10px 0;
		margin-bottom: 5px;
		color: #000;
	}
</style>

<script>
	export default {
		props: ['suggestions', 'input'],
		data() {
			return {
				local_input: ''
			}
		},
		computed: {
			hasSuggestions: function() {
				return this.suggestions && this.suggestions.top && this.suggestions.matching;
			}
		},
		watch: {
			input: function(new_input) {
				this.local_input = new_input;
			}
		},
		methods: {
			onInputChange: function() {
				this.$emit('inputUpdate', this.local_input);
			},
			selectSuggestion: function(suggestion) {
				this.$emit('select', suggestion);
			},
			cancel: function() {
				this.$emit('cancel');
			}
		}
	}
</script>