body {
    width: 100%;
    height: 100%;
}

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF; /* A background-color is required */
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

.btn {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:focus, .btn:hover {
    text-decoration: none;
}

.btn:focus, .btn.focus {
    outline: 0;
}

.btn.disabled, .btn:disabled {
    opacity: .65;
}

.btn:active, .btn.active {
    background-image: none;
}

a.btn.disabled {
    pointer-events: none;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-info {
    color: #fff;
    background-color: #60afdd;
    border-color: #60afdd;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-info:hover {
    color: #fff;
    background-color: #5499c1;
    border-color: #5499c1;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:active, .btn-primary.active {
    background-color: #0069d9;
    background-image: none;
    border-color: #0062cc;
}

.btn-secondary {
    color: #fff;
    background-color: #868e96;
    border-color: #868e96;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #727b84;
    border-color: #6c757d;
}

.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 3px rgba(134, 142, 150, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
    background-color: #868e96;
    border-color: #868e96;
}

.btn-secondary:active, .btn-secondary.active {
    background-color: #727b84;
    background-image: none;
    border-color: #6c757d;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}


/*==============*/
/*==============*/
/*==============*/
/*==============*/



.scenario-archive {
    margin-bottom: 20px;
}
.scenario .title {
    font-size: 28px;
}
.scenario .portrait img {
    width: 100%;
    display: block;
}
.scenario-archive .character-list {
    overflow: hidden;
}
.scenario-archive .character-list .character {
    overflow: hidden;
    float: left;
    width: 50%;
}
.scenario .character .portrait img {
    width: 100%;
    display: block;
    border-radius: 50%;
}
.scenario .character .character-details {
    padding-left: 67px;
}
.scenario .character .character-details .name {
    font-size: 18px;
}
.scenario-single .character-list .character {
    margin-bottom: 12px;
    padding-bottom: 12px;
}
.scenario-single .character .character-details .name {
    font-size: 22px;
}
.scenario-single .character .character-details .occupation {
    font-size: 16px;
}
.scenario .character .character-details .occupation {
    font-size: 14px;
}
.scenario .character {
    overflow: hidden;
}
.scenario .character .portrait {
    float: left;
    width: 33%;
    margin-right: 5px;
}


.scenario-stats {

}
.scenario-stats .section-title {
    text-transform: uppercase;
    color: white;
    padding: 0 10px;
    text-align: center;
}
.scenario-restrictions,
.scenario-objectives {
    list-style: none;
    padding: 0 10px;
}
.scenario-restrictions li,
.scenario-objectives li {
    color: white;
    margin: 10px 0;
}
.scenario-restrictions .restriction .invalid {
    color: #ff8c82;
}
.scenario-restrictions .restriction .completed {
    color: green;
}
.scenario-objectives > .goal .invalid-icon,
.scenario-objectives > .goal .completed {
    display: none;
}
.scenario-objectives > .goal.invalid {
    color: #ff8c82;
}
.scenario-objectives li.active .icon {
    animation: pulse 1.5s infinite;
    display: inline-block;
}
@keyframes pulse {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.3); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.3); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}
.scenario-objectives li.child {
    padding-left: 20px;
}
.scenario-objectives li.solved,
.scenario-objectives li.checked {
    color: #cef9ca;
}
.scenario-objectives li.invalid .invalid-icon {
    display: inline-block;
}
.scenario-objectives li.checked .completed {
    display: inline-block;
}
.scenario-objectives .goal-slots {
    list-style: none;
    padding: 0 0 0 12px;
}
.goal-slots > .slot > .invalid,
.goal-slots > .slot > .completed {
    display: none;
}
.goal-slots > .slot .slot-errors {
    color: #ff8c82;
}
.goal-slots > .slot.invalid > .invalid,
.goal-slots > .slot.valid > .completed {
    display: inline-block;
}
.goal-slots > .slot.valid {

}


.alert {
    padding: 10px;
    margin-bottom: 10px;
}
.alert-danger {
    background: red;
    color: white;
}
.alert-info {
    background: #3d8c8c;
    color: white;
}

.tutor-arena .message .spell-error {
    color: red;
    border: 1px dashed red;
    padding: 2px 3px;
    margin: 0 2px;
}
.tutor-arena .spelling-error {
    padding: 10px;
    font-size: 16px;
    border: 3px dashed #c71b1b;
    background: #ffe5e5;
}



.tooltip {
    display: block !important;
    padding: 4px;
    z-index: 10000;
}

.tooltip .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
    display: none;
}

.tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
}

.dictionary-box {
    background: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 1px 4px -2px black;
}
.dictionary-box .dict-definition {
    margin-bottom: 12px;
}
.dictionary-box .dict-definition .examples {
    font-size: 15px;
    color: #6c757d;
    font-style: italic;
}
.dictionary-box .dict-title {
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: bold;
}
.dictionary-box .dict-title .dict-type {
    font-size: 17px;
    font-style: italic;
    font-weight: normal;
}

.tutor-arena .step-score {
    top: 10px;
    position: absolute;
    right: 0;
    font-weight: bold;
    font-size: 38px;
    color: #222;
    z-index: 9999;
    background: white;
    border-radius: 20px 0 0 20px;
    padding: 4px 8px 4px 4px;
    box-shadow: 2px 1px 3px -1px #333;
}