<template>
	<div id="app">
		<div id="app-container">
			<div id="main-menu">
				<ul class="main-nav">
					<li>
						<router-link :to="{ name: 'ScenarioSelector' }" v-on:click.native="slideoutClose" v-if="loggedIn">
							Escenarios
						</router-link>
					</li>
					<li>
						<router-link :to="{ name: 'Logout' }" v-on:click.native="slideoutClose" v-if="loggedIn">
							Salir <i class="fa fa-sign-out"></i>
						</router-link>
					</li>
				</ul>

				<div class="scenario-stats" v-if="gameStatus">
					<div class="section-title">Instrucciones</div>
					<ul class="scenario-restrictions">
						<li class="restriction" v-for="restr in gameRestrictions">
							{{ restr.nice }}
							<span v-show="isRestrictionCompleted(restr) && isRestrictionValid(restr)" class="completed"><i class="fa fa-check"></i></span>
							<span v-show="(!isRestrictionValid(restr)) && isRestrictionCompleted(restr)" class="invalid"><i class="fa fa-times"></i></span>
						</li>
					</ul>
				</div>
			</div>

			<div id="main-panel">
				<div class="navbar navbar-top" v-show="loggedIn">
					<div class="branding">
						Chatbot
					</div>
					<div class="side">
						<span class="username">Hola {{ name }}!</span>
						<a href="#" class="toggle-button">
							<i class="fa fa-bars"></i>
						</a>
					</div>
				</div>
				<div id="app-view" v-on:click="mainPanelClicked">
					<router-view></router-view>
				</div>
			</div>
		</div>

	</div>
</template>

<style>
	#app {
		position: relative;
	}
	#admin-panel {
		position: absolute;
		right: 0;
		top: 0;
		border: 1px solid #444;
		width: 600px;
		display: none;
	}
	@media screen and (min-width: 1040px) {
		#admin-panel {
			display: block;
		}
	}
	#app-container {
		max-width: 480px;
		position: relative;
	}
</style>

<script>
	import Slideout from 'slideout'
	import AdminPanel from '@/components/AdminPanel'

	export default {
		data() {
			return {
				name: '',
				loggedIn: false,
				$slideout: false,

				gameGoals: [],
                gameRestrictions: [],
				gameStatus: false,
			}
		},
		methods: {
		    isRestrictionCompleted: function(restr) {
		    	let slot = _.get(this.gameGoals, restr.goal + ".slots." + restr.slot, false);
		    	if (! slot) {
		    		return false;
				}

				if (slot.value === false) {
		    		if (slot.valid === false) {
		    			return true;
					} else {
		    			return false;
					}
				}

				if (slot.value.from === false || slot.value.to === false) {
		    		return false;
				}

                return true;
			},
		    isRestrictionValid: function(restr) {
                return _.get(this.gameGoals, restr.goal + ".slots." + restr.slot + ".valid", false);
			},
			slideoutClose: function() {
				this.$slideout.close();
			},
			mainPanelClicked: function() {
				this.slideoutClose();
			},
			updateGame: function() {
				this.gameGoals = window.Thesis.Game.goals;
				this.gameRestrictions = window.Thesis.Game.instructions;
				this.gameStatus = window.Thesis.Game.status;
			},
			refresh: function() {
				if (window.Thesis.User.check()) {
					this.name = window.Thesis.User.username;
					this.loggedIn = true;
					this.$slideout.enableTouch();
				} else {
					this.loggedIn = false;
					this.$slideout.disableTouch();
				}
			}
		},
		mounted() {
			window.Thesis.User.subscribe('authChanged', this.refresh);
			window.Thesis.Game.subscribe('statusChanged', this.updateGame);
			window.Thesis.Game.subscribe('gameGoalsChanged', this.updateGame);

			this.$slideout = new Slideout({
				'panel': document.getElementById('main-panel'),
				'menu': document.getElementById('main-menu'),
				'padding': 256,
				'tolerance': 70,
				'side': 'right'
			});

			this.refresh();

			document.querySelector('.toggle-button').addEventListener('click', (e) => {
				this.$slideout.toggle();
				e.preventDefault();
			});
		},
		components: {
			'admin-panel': AdminPanel
		}
	}
</script>

<style>
	* {
		box-sizing: border-box;
	}
	html,
	body {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	#app {
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #2c3e50;
	}
	#app-view {
		padding-top: 40px;
	}
	#main-menu .main-nav {
		margin: 0 0 20px 0;
		padding: 40px 10px 10px 10px;
		border-bottom: 1px solid #333;
	}
	#main-menu .main-nav li {
		padding: 5px 0;
	}
	#main-menu .main-nav li,
	#main-menu .main-nav a {
		color: white;
		text-transform: uppercase;
		font-size: 18px;
		text-decoration: none;
	}
	#main-menu {
		background: black;
	}
	.navbar {
		height: 40px;
		position: fixed;
		top: 0;
		padding: 0 10px;
		width: 100%;
		background: black;
		box-shadow: 0 0px 3px 1px #333;
		color: white;
	}
	.navbar-top .toggle-button {
		color: white;
		font-size: 22px;
	}
	.navbar .side {
		padding: 5px 0;
		float: right;
	}
	.navbar .side > * {
		vertical-align: middle;
	}
	.navbar .side .username {
		font-size: 16px;
		margin-right: 10px;
	}
	.navbar .side .menu {
		font-size: 26px;
	}
	.navbar .branding {
		float: left;
		font-size: 22px;
		padding: 5px 0;
	}
</style>
